<ng-container *ngIf="alert.show == 'true'">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</ng-container>

<div class="row mt-4">
    <div class="col" *ngFor="let atbc of tasksbycompartiments">
      <div class="card text-center cdkDropListGroup">
        <div class="card-header p-1">
          {{atbc.compartiment.Nom}}
        </div>
        <div class="card-body p-0">

        <ng-container *ngIf="atbc.tasks && atbc.tasks.length > 0; else emptytasks" >
          <ng-container *ngFor="let atask of atbc.tasks" >


            <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>


              <div class="card m-2">
                <div class="card-header p-1 text-white {{atask.PrioriteBSColor}}">{{atask.Nom}}</div>
                <div class="card-body p-1">

                  {{atask.DateDebut}}
                  {{atask.DateEcheance}}

                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  <p class="card-text">{{atask.Notes}}</p>
                  <a href="#" class="card-link">Card link</a>

                </div>
                <div class="card-footer text-muted">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated {{atask.ProgressionBSColor}}" role="progressbar" [attr.aria-valuenow]="atask.Progression" aria-valuemin="0" aria-valuemax="100" style="width: {{atask.Progression}}%">{{atask.Progression}}%</div>
                  </div>
                </div>
              </div>

          </ng-container>
          </ng-container>
          <ng-template #emptytasks>
             <div class="p-4">
            </div>
          </ng-template >

        </div>
      </div>
    </div>
</div>
