<div class="row mt-4">
    <div class="col" *ngFor="let acompartiment of compartiments">
      <div class="card text-center">
        <div class="card-header p-1">
          {{acompartiment.Nom}}
        </div>
        <div class="card-body p-0">

          <ng-container *ngFor="let atask of tasks" >
            <ng-container *ngIf="atask.ID_Compartiment == acompartiment.ID">

              <div class="card m-2" [attr.data-taskid]="atask.ID">
                <div class="card-header p-1 text-white {{atask.PrioriteBSColor}}">{{atask.Nom}}</div>
                <div class="card-body p-1">

                  {{atask.DateDebut}}
                  {{atask.DateEcheance}}

                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  <p class="card-text">{{atask.Notes}}</p>
                  <a href="#" class="card-link">Card link</a>

                </div>
                <div class="card-footer text-muted">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated {{atask.ProgressionBSColor}}" role="progressbar" [attr.aria-valuenow]="atask.Progression" aria-valuemin="0" aria-valuemax="100" style="width: {{atask.Progression}}%">{{atask.Progression}}%</div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>
</div>



<div class="row">

    <div class="col-sm-3">
        <div class="card card-outline-success mb-3" droppable [dragOverClass]="'drag-target-border'"
            [dragHintClass]="'drag-hint'" (onDrop)="onAnyDrag($event)">
            <div class="card-header card-inverse card-success">
                Draggable Items
                </div>
            <div class="card-block scroll-list">
                <div class="list-group">
                    <li *ngFor="let item of vegetables" class="list-group-item list-group-item-action list-group-item-success"
                        [draggable] [dragClass]="'active'" [dragData]="item">
                        {{item.name}}
                    </li>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'"
            [dragHintClass]="'drag-hint'" (onDrop)="onAnyDrop($event)">
            <div class="card-header card-inverse card-primary">
                Drop Anything here
              </div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedItems" class="list-group-item"
                    [draggable] [dragData]="item">
                    {{item.name}}
                </li>
            </div>
        </div>
    </div>

</div>
